<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  </head>
  <body>
    <script src="static/socket.io/node_modules/socket.io-client/socket.io.js"></script>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
